@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --primary: #FFC400;
  --muted: #111111;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}